<body>
    <!-- <nav>
          <a routerLink="/reset-password">Reset Password</a>
      </nav>-->
    <form>
    <!--<router-outlet></router-outlet>-->
  
    
      <div class="container">
        <label for="firstname"><b>First Name</b></label>
        <input type="text" placeholder="Enter First Name" name="email" required>

        <label for="email"><b>Last Name</b></label>
        <input type="text" placeholder="Enter Last Name" name="email" required>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>
    
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
    
        <button type="submit">Register</button>
        <p>Already have an Account? login <a routerLink="auth/login">here</a></p>
       
      </div>
    </form>
    
</body>